# ==========================================
# Firebase Client & Firestore Credentials
# ==========================================
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dreamfashionbd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dreamfashionbd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dreamfashionbd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=233395454592
NEXT_PUBLIC_FIREBASE_APP_ID=1:233395454592:web:a4e82a21ac4145d9811c65
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3QW3822P7Z

# ==========================================
# bKash Tokenized Checkout Live Credentials
# ==========================================
BKASH_APP_KEY=your_bkash_app_key
BKASH_APP_SECRET=your_bkash_app_secret
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
BKASH_BASE_URL=https://tokenized.pay.bka.sh/v1.2.0-beta
BKASH_CALLBACK_URL=https://dreamfashionbd.web.app/api/bkash/callback
NEXT_PUBLIC_APP_URL=https://dreamfashionbd.web.app

# ==========================================
# Steadfast Courier Official API Credentials
# ==========================================
STEADFAST_API_KEY=iinibtkjqm3kpsgfshtsrcushxkngusu
STEADFAST_SECRET_KEY=pk80ijvyno2jotz9xvdze1my
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1

# ==========================================
# ImgBB Image Host API Key
# ==========================================
IMGBB_API_KEY=04c0280a69c2c685602a6996bcf038c2
NEXT_PUBLIC_IMGBB_API_KEY=04c0280a69c2c685602a6996bcf038c2
